*.a
*.o
project.xcworkspace
xcuserdata
/corpus
/doc/html
/tests/check_census
/tests/check_data
/tests/check_sentscan
/tests/check_symtab
/tests/check_text
/tests/check_tree
/tests/check_typemap
/tests/check_unicode
/tests/check_wordscan
