*.a
*.o
__pycache__
project.xcworkspace
xcuserdata
/corpus
/doc/html
/tests/check_census
/tests/check_charwidth
/tests/check_data
/tests/check_filter
/tests/check_intset
/tests/check_ngram
/tests/check_search
/tests/check_sentfilter
/tests/check_sentscan
/tests/check_symtab
/tests/check_termset
/tests/check_text
/tests/check_tree
/tests/check_typemap
/tests/check_unicode
/tests/check_wordscan
